/* CSS específico do ecrã */
/* usar prefixo adequado para todas as classes */

/*.selecionado {
    color: rgba(70, 57, 255, 0.61);
    font-weight: bold;
    background: rgba(255,255,255,0.4)
}*/

.barra_de_texto {
    float: left;
    width: 40%;
    background-color: slategray;
   /* padding: 5pt*/
}

.sugestoes {
    float: left;
    width: 40%;
    /*padding: 10pt*/
}

.escrita{
    float: left;
    width: 20%;
}

#alfabeto li {
    list-style-type: none;
}

