/* CSS específico do ecrã */
/* usar prefixo adequado para todas as classes */

/*.ESTACAO-estacao-seleccionada {
    color: rgba(70, 57, 255, 0.61);
    font-weight: bold;
    background: rgba(255,255,255,0.4)
}*/

#estacoes-radio {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#estacoes-radio li {
    list-style-type: none;
    line-height: 35pt;
}

#ecra-ESTACAO {
    padding-left: 15pt;
    /*padding-top: 20pt;*/
}