/* CSS específico do ecrã */
/* usar prefixo adequado para todas as classes */


#ecra-HELP1 ul {
  margin-top: 10px;
  padding-left: 20px;
}

#ecra-HELP1 li, #ecra-HELP1 b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: white;
    list-style-type: none;
    line-height: 26pt;
}

#ecra-HELP1 img {
  opacity: 0.5;
  display: block;
  margin: auto;
  padding-top: 20px;
  height: 120px;
}

